<a href="https://colab.research.google.com/github/24Marko42/collab/blob/main/Lab_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Создайте объект Series, значениями которого являются целые числа от 1 до 5, а индексами символы 'a', 'b', 'c', 'd', 'e'.

In [1]:
import pandas as pd

data = [1, 2, 3, 4, 5]
index = ['a', 'b', 'c', 'd', 'e']

series = pd.Series(data, index=index)
print(series)

a    1
b    2
c    3
d    4
e    5
dtype: int64

2. С помощью обращения по явному индексу получите значение 4.

In [2]:
print(series['d'])

4

3. С помощью обращения по неявному индексу получите значение 2.

In [3]:
print(series.iloc[1])

2

4. Добавьте в серию новый элемент.

In [4]:
series['f'] = 6
print(series)

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

5. Используя операцию среза, получите значения 3, 4, 5.

In [5]:
print(series['c':'e'])

c    3
d    4
e    5
dtype: int64

6. Создайте объект DataFrame из списка [1, 2], [5, 3], [3.7, 4.8] с именами столбцов col1 и col2.

In [11]:
data_df = [[1, 2], [5, 3], [3.7, 4.8]]
df = pd.DataFrame(data_df, columns=['col1', 'col2'])
print(df)

   col1  col2
0   1.0   2.0
1   5.0   3.0
2   3.7   4.8

7. Используя операцию индексации, получите элемент 3.7.

In [7]:
print(df.loc[2, 'col1'])

3.7

8. Измените элемент 3 на 9.

In [8]:
df.loc[1, 'col2'] = 9
print(df)

   col1  col2
0   1.0   2.0
1   5.0   9.0
2   3.7   4.8

9. Используя операцию среза, получите строки с индексами 1 и 2.

In [9]:
print(df.loc[1:2])

   col1  col2
1   5.0   9.0
2   3.7   4.8

10. Добавьте столбец col3, значения которого – результат поэлементного
перемножения col1 и col2.

In [10]:
df['col3'] = df['col1'] * df['col2']
print(df)

   col1  col2   col3
0   1.0   2.0   2.00
1   5.0   9.0  45.00
2   3.7   4.8  17.76